#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
  
input {
    margin-bottom: 30px;
    padding: 10px 15px;
}
  
table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
} 